.loader {
  display: flex;
  justify-content: center;
  align-items: center
}

.loader > label {
  display: inline-block;
  background: purple;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 2px;
  transform: translate3d(0, 0 ,0);
  animation: bounce 0.5s infinite alternate;
}

.loader > label:nth-child(2) {
  background: palevioletred;
  animation-delay: 0.2s;
}

.loader > label:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes bounce {
  to {
    width: 16px;
    height: 16px;
    transform: translate3d(0, -16px, 0)
  }
}
